<wicket:panel xmlns:wicket="http://wicket.apache.org">

    <h2 class="sub-header" wicket:id="subtitle"/>
    <div>
        <select class="form-select" wicket:id="assignedUserFilter"/>
    </div>
    <wicket:container wicket:id="projects"/>
</wicket:panel>
