<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <h2 class="sub-header">
        <wicket:message key="label.subTitle"/>
    </h2>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">
                    <wicket:message key="label.id"/>
                </th>
                <th scope="col">
                    <wicket:message key="label.title"/>
                </th>
                <th scope="col">
                    <wicket:message key="label.progress"/>
                </th>
                <th scope="col">
                    <wicket:message key="label.actions"/>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr wicket:id="buildings">
                <th scope="row" wicket:id="buildingId"/>
                <td wicket:id="title"/>
                <td>
                    <div class="progress">
                        <div wicket:id="progress" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"/>
                    </div>
                </td>
                <td>
                    <a wicket:id="view" type="button" class="btn btn-primary">
                        <wicket:message key="label.details"/>
                    </a>
                </td>
            </tr>
            <tr wicket:id="noBuildings">
                <td colspan="4">
                    <wicket:message key="message.noBuildings"/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--        <wicket:container wicket:id="pagingPanel" />-->

</wicket:panel>
