<wicket:panel xmlns:wicket="http://wicket.apache.org">

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">
                    <wicket:message key="label.id"/>
                </th>
                <th scope="col">
                    <wicket:message key="label.state"/>
                </th>
                <th scope="col">
                    <wicket:message key="label.type"/>
                </th>
                <th scope="col">
                    <wicket:message key="label.created"/>
                </th>
                <th scope="col">
                    <wicket:message key="label.assigned"/>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr wicket:id="projects">
                <th scope="row" wicket:id="projectId"/>
                <td>
                    <span wicket:id="state" class="badge"/>
                </td>
                <td wicket:id="type"/>
                <td wicket:id="createTime"/>
                <td wicket:id="assignedUser"/>
            </tr>
            <tr wicket:id="noProjects">
                <td colspan="5">
                    <wicket:message key="message.noProjects"/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</wicket:panel>
