html {
    /*background: url(/img/mesh.jpg) no-repeat left top fixed;*/
    background-size: cover;
}

body {
    background: transparent;
}

.main {
    padding: 1.75rem;
    width: 450px;
    margin: auto;
}

.main .logo.icon {
    color: var(--primary);
    margin-bottom: 3rem;
}

.main .title {
    margin-bottom: 5rem;
}

.main .btn:not(.btn-block) {
    padding: 1rem 2.25rem;
    margin: 0.75rem 1rem;
}

.main .signup {
    margin-top: 2.5rem;
}

.main .sso {
    margin-top: 6rem;
}

.main .sso img {
    width: 24px;
    height: 24px;
}

.main .feedbackPanel {
    text-align: left;
    margin-bottom: 1.5rem;
}

.main .form-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

.main .form-control {
    padding: 1rem 2rem;
    background-color: var(--light);
    border-color: var(--light);
    color: var(--gray-dark);
    height: auto;
}

.main .form-control:focus {
    background-color: var(--light-gray);
    border-color: var(--light-gray);
}

.main .wizard .title {
    margin-top: -6rem;
    color: var(--muted);
}

.main .error-detail {
    margin-top: 2rem;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
