<wicket:head xmlns:wicket="http://wicket.apache.org">
    <wicket:link>
        <link rel="stylesheet" href="auth.css" type="text/css"/>
    </wicket:link>
</wicket:head>
<wicket:extend xmlns:wicket="http://wicket.apache.org">
    <div class="main text-center">
        <div class="title">
            <h3>
                <wicket:message key="title"/>
            </h3>
            <div class="text-muted font-weight-bold sub-title">
                <wicket:message key="subTitle"/>
            </div>
        </div>
        <form wicket:id="signInForm" method="post">
            <div class="form-group">
                <input wicket:id="login" autocomplete="username" type="text" class="form-control" wicket:message="placeholder:label.login">
            </div>
            <div class="form-group">
                <input wicket:id="password" autocomplete="current-password" type="password" class="form-control" wicket:message="placeholder:label.password">
            </div>
            <!--
                        <div class="form-group d-flex flex-wrap justify-content-between">
                            <div class="checkbox-inline">
                                <input wicket:id="rememberMe" type="checkbox" class="form-check-input">
                                <label wicket:for="rememberMe" class="checkbox text-muted">
                                    <wicket:message key="label.rememberMe" />
                                </label>
                            </div>
                            <a wicket:id="forgetPassword" class="text-muted text-hover-primary"><wicket:message key="label.forgotPassword" /></a>
                        </div>
            -->
            <button class="btn btn-primary font-weight-bold" type="submit">
                <wicket:message key="label.signIn"/>
            </button>
        </form>
        <div class="signup">
            <span class="opacity-50 mr-3"><wicket:message key="label.dontHaveAccount"/></span> <a wicket:id="signUpLink" class="text-muted text-hover-primary font-weight-bold">
            <wicket:message key="label.signUp"/>
        </a>
        </div>
    </div>
</wicket:extend>
