<wicket:head xmlns:wicket="http://wicket.apache.org">
    <wicket:link>
        <link rel="stylesheet" href="auth.css" type="text/css"/>
    </wicket:link>
</wicket:head>
<wicket:extend xmlns:wicket="http://wicket.apache.org">
    <div class="main text-center">
        <div class="title">
            <h3>
                <wicket:message key="title"/>
            </h3>
            <div class="text-muted font-weight-bold sub-title">
                <wicket:message key="subTitle"/>
            </div>
        </div>
        <form wicket:id="form" method="post">
            <div class="form-group">
                <input wicket:id="login" autocomplete="username" type="text" class="form-control" wicket:message="placeholder:label.login">
            </div>
            <div class="form-group">
                <input wicket:id="password" autocomplete="current-password" type="password" class="form-control" wicket:message="placeholder:label.password">
            </div>
            <div class="form-group">
                <select wicket:id="role" class="form-control custom-select value-provider"/>
            </div>
            <button class="btn btn-primary" type="submit">
                <wicket:message key="label.signUp"/>
            </button>
            <a wicket:id="cancel" class="btn btn-secondary">
                <wicket:message key="label.cancel"/>
            </a>
        </form>
    </div>
</wicket:extend>
