<wicket:head xmlns:wicket="http://wicket.apache.org">
    <wicket:link>
        <link rel="stylesheet" href="header.css" type="text/css"/>
    </wicket:link>
</wicket:head>
<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="/img/logo.svg" width="100"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">

                <wicket:enclosure child="dashboardLink">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#" wicket:id="dashboardLink">
                                <wicket:message key="label.dashboard"/>
                            </a>
                        </li>
                    </ul>
                </wicket:enclosure>
            </div>
            <div class="topbar-right text-nowrap">
                <a wicket:id="signInLink" class="topbar-link"><span class="d-none d-sm-inline"><wicket:message key="label.signIn"/></span></a> <a wicket:id="signOutLink" class="topbar-link"><span class="d-none d-sm-inline"><wicket:message key="label.signOut"/></span></a>
            </div>
        </div>
    </nav>
</wicket:panel>
