.topbar-right {
    display: flex;
    align-items: center;
}

.topbar input.search {
    width: 100%;
}

.topbar-right a.topbar-link {
    padding: 0.5rem;
    color: #6c7293;
    border-radius: 0.42rem;
}

.topbar-right a.topbar-link:hover,
.topbar-right .active > a.topbar-link,
.topbar-right .show > a.topbar-link {
    background: rgba(77, 89, 149, 0.06);
}
