<wicket:head xmlns:wicket="http://wicket.apache.org">
    <wicket:link>
        <link rel="stylesheet" href="home.css" type="text/css"/>
    </wicket:link>
</wicket:head>
<wicket:extend xmlns:wicket="http://wicket.apache.org">

    <section id="hero" class="hero">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                    <a class="hero-brand" href="#"><img alt="Logo" src="/img/logo.svg"></a>
                </div>
            </div>

            <div class="col-md-12">
                <h1>
                    <wicket:message key="message.headerText"/>
                </h1>

                <p class="tagline">
                    <wicket:message key="message.details"/>
                </p>
                <wicket:link><a class="btn-default-style text-uppercase mx-3 mb-4 mb-md-0" href="/signup">Get Started Now</a></wicket:link>
            </div>
        </div>

    </section>
</wicket:extend>
