<wicket:extend xmlns:wicket="http://wicket.apache.org">
    <div class="row">
        <div class="col-md-6">
            <wicket:container wicket:id="buildings"/>
        </div>
        <div class="col-md-6">
            <wicket:container wicket:id="buildingDetails"/>
        </div>
    </div>
</wicket:extend>
